.content-wrapper{
    background-color: pink;
}
.box-title {
    background-color: yellow;
    color: blue;
}
.card-primary {
    background-color: turquoise;
    color: white;
    box-shadow: 10px 5px 5px red;
}
#side {
    background-color: green;
}
#nav {
    background-color: tomato;
}
#footer {
    background-color: blue;
    color: black;
}
#footer a {
    color: red;
}
#google-api{
    width: 300px;
    height: 300px;
}